@charset "UTF-8";
/* ticket폴더의 .jsp에 필요한 css */

.on{background:red !important;} /* class="on" 클릭시 색 변경 */
#standA input, #standB input, #standC input, #standD input, #rseatV input, #rseatW input, #rseatX input, #rseatY input, #rseatZ input{border:none; font-size:0px; width:10px; height:10px; margin:0; padding:0;} /* font-size:0px; : id="mapContainer"의 value 안보이게 하기 */
#standA button, #standB button, #standC button, #standD button, #rseatV button, #rseatW button, #rseatX button, #rseatY button, #rseatZ button{border:none; font-size:10px; width:10px; height:10px; margin:0; padding:0; background:"grey;"} /* font-size:0px; : id="mainContainer"의 value 안보이게 하기 */

#standA, #standB, #standC, #standD, #rseatV, #rseatW, #rseatX, #rseatY, #rseatZ{text-align:center; vertical-align:bottom; 
											font-size:10px; border-spacing: 0;}

#seatAddFormjsp td {border: 1px solid #444444; padding: 0 8px;}
#seatAddFormjsp span {display:block; margin:0 !important;}
#ticketAddFormjsp td {border: 1px solid #444444; padding: 0 8px;}




.StandingR{background:palegreen;} /* 스탠딩R석 색상 */
.R{background:mediumslateblue;} /* 지정좌석R석 색상 */
.S{background:dodgerblue;} /* 지정좌석S석 색상 */
.A{background:darkcyan;} /* 지정좌석A석 색상 */
/* 
#panel>input {border: none; background: transparent; width: 260px;}
#panel>input:focus {outline: none;}
#addedSeat>input {border: none; background: transparent; width: 250px;}
#addedSeat>input:focus {outline: none;}
 */
.sideContainer input {border: none; background: transparent;}
.sideContainer input:focus {outline: none;}
#ticketSalejsp input {border: none; background: transparent;}
#ticketSalejsp input:focus {outline: none;}





.sectionA{
  display:inline-block;
  height:300px; 
  width:600px; 
  margin:0; 
  padding:0;
  border:solid;
  background-color : white;
  border-radius: 10px 30px 10px 50px;
  text-align: center;
}

.sectionB{
  display:inline-block; 
  height:300px; 
  width:300px; 
  margin:0 0 0 -5px; 
  padding:0;
  border:solid;
  background-color : #33FF33;
  border-radius: 30px 10px 50px;
}

.mytableA{
	margin:auto;
	height:250px;
	width: 400px;
}

.mytableB{
	margin:auto;
	height:250px;
	width: 220px;
}

.mytableA tr, .mytableB tr{
	border-bottom:solid ;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* modal test  */
/* The Modal (background) */
.bookModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 56px; /* Location of the box */
  /* padding-left: 90px; Location of the box */
  /* padding-right: 90px; Location of the box */
  padding-bottom: 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.bmodal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.closeBmodal {
  color: grey;
  float: right;
  top: 0;
  --font-size: 28px;
  font-weight: bold;
}

.closeBmodal:hover,
.closeBmodal:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.bmodal-header {
  padding: 4px 16px;
  background-color: black;
  color: white;
}

.bmodal-body {
	padding: 2px 16px; --height: 530px;
	position:relative;
}

.bmodal-footer {
  width:100%;
  height:9%;
  bottom:0;
  padding: 2px 16px;
  position:absolute;
  background-color: black;
  color: white;
}

#mainContainer {
	--display: inline-block; 
	position:absolute; 
	overflow-y:scroll; 
	height:600px; 
	width: 900px; 
	margin-left:100px;
	left:0;
}

#sideContainer {
	--display: inline-block; 
	position:absolute; 
	overflow-y:scroll; 
	height:600px; 
	width: 500px; 
	margin-right:0;
	left: 1000px;
}

